@{
    ViewData["Title"] = "Home Page";
}

<style>
 

</style>

<div class="">
    <form class="login">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button>Login</button>
    </form>
</div>
